:root {
  --orange: #ff5f1f;
  --white: #ffffff;
  --dark: #2a3543;
  --box-color: #333e4d;
  --gray: #cdcdcd;
}

.hero {
  width: 100%;
  margin-top: 6%;
  margin-bottom: 4%;
  height: 100vh;
}

.div-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: var(--box-color);
  color: var(--white);
  border-radius: 1.5rem;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 0rem 3rem;
}

/* === Left === */
.hero-left {
  flex: 1;
  min-width: 250px;
}

.hero-welcome {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  color: var(--gray);
}

.hero-name {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.2rem 0;
}

.hero-name span {
  color: var(--orange);
}

.hero-title {
  font-size: 1rem;
  font-weight: 520;
  color: var(--white);
}

.hero-description {
  font-size: 0.9rem;
  line-height: 1.5;
  width: auto;
  opacity: 80%;
}

/* === Center (Image) === */
.hero-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

.image-frame {
  position: relative;
  border-radius: 1.5rem;
  padding: 1rem;
}

.profile-img {
  width: 100%;
  object-fit: cover;
}

/* === Right (Stats) === */
.hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: right;
}

.stat h3 {
  color: var(--orange);
  font-size: 1.6rem;
  margin: 0;
}

.stat h3 span {
  font-size: 2rem;
  font-weight: bold;
}

.stat p {
  margin: 0.2rem 0 0;
  font-size: 1rem;
  line-height: 1.3;
  color: var(--white);
  text-align: right;
}

/* === Responsive === */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  .div-hero {
    flex-wrap: wrap;
    height: 100%;
    padding: 1.5rem;
    gap: 1rem;
  }

  .hero-left,
  .hero-center,
  .hero-right {
    flex: none;
    width: 100%;
    text-align: center !important;
    align-items: center !important;
  }

  .stat p {
    text-align: center !important;
  }

  .hero-description {
    margin: auto;
  }

  .profile-img {
    width: 100%;
  }

  .stat h3 span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .stat h3 {
    color: var(--orange);
    font-size: 1.2rem;
    margin: 0;
  }

  .hero-welcome {
    margin-top: 0px;
  }
}

.name-position {
  display: block;
}

.hero-name {
  font-size: 1.4rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .hero{
    height: 50vh;
  }
}
