body {
  margin: 0;
  background-color: var(--background);
  color: white;
  font-family: 'Saira', sans-serif;
  padding: 0rem 6.875rem;
}

@media (max-width: 1024px) {
  body {
    padding: 0rem 1.875rem;
  }
}
